[Desktop Entry]
Version=1.0
Name=Password
Comment=GUI Password Changer
X-GNOME-Autostart-enabled=true
Exec=/usr/bin/userpasswd
Terminal=false
Type=Application
Hidden=false

